.Contact {
    width: 1440px;
    background-color: #F5F5F5;
    display: grid;
    align-items: center;
    justify-content: center;
}

.Contact .Form-section {
    /* max-height: 1855px; */
    display: grid;
    align-items: center;
    justify-content: center;
    margin-bottom: 120px;
}

.Contact .Form-section .form {
    width: 627px;
    /* max-height: 1630px; */
    border-radius: 8px;
    padding: 64px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px -4px #0C0C0D0D;
    box-shadow: 0px 16px 32px -4px #0C0C0D1A;
}

.form-form {
    display: grid;
    gap: 48px;
}

.form-group {
    width: 400px;
}

.form-group p, span {
    height: 26px;
    font-family: 'Public Sans', sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 25.2px;
    text-align: left;
}


#req {
    color: #A13D63;
    justify-content: center;
}

#optional {
    font-weight: 400;
}