@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;700&display=swap');


/* Buttons  */
.contact-btn {
    width: 147px;
    height: 46px;
    border-radius: 4px;
    padding: 10px 15px 10px 15px;
    gap: 10px;
    background-color: #F1B23E;
    color: #141414;
    font-family: 'Public Sans', sans-serif; 
    font-weight: 400;
    font-size: 18px;
    line-height: 25.2px;

}


.contact-btn:hover {
    width: 156px;
    height: 50px;
    padding: 12px 17px 12px 17px;
    text-decoration: underline;
    font-weight: 600px;
}



.about-btn {
    width: 147px;
    height: 46px;
    border-radius: 4px;
    padding: 10px 15px 10px 15px;
    gap: 10px;
    background-color:  #D5D6D7;
    font-family: 'Public Sans', sans-serif; 
    font-weight: 400;
    font-size: 18px;
    line-height: 25.2px;
    color: #141414;
}


.about-btn:hover {
    width: 156px;
    height: 50px;
    padding: 12px 17px 12px 17px;
    text-decoration: underline;
    font-weight: 600px;
}




















.container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    /* height: 100vh;  */
}
  
.content {
    text-align: center; 
    max-width: 700px; 
    padding: 60px;
}

.icon-layout {
    margin: 20px;
    width: 40px;
    height: 40px;
}

.content .form {
    display: flex;
}

.form .form-group {
    flex: 1;
    margin-bottom: 15px;
}

Form.ControlLabel {
    display: block;
    margin-bottom: 5px; 
  }

Form.Control {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


/* Button {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: 1px;
    border-width: 1px;
    border-color: black;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
}

Button:hover {
    background-color: #45a049;
}

Button[type='submit'] {
    width: 50%;
} */
