@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;700&display=swap');


/* Buttons  */
.contact-btn {
    max-width: 147px;
    max-height: 46px;
    border-radius: 4px;
    padding: 10px 15px 10px 15px;
    gap: 10px;
    background-color: #F1B23E;
    font-family: 'Public Sans', sans-serif; 
    font-weight: 400;
    font-size: 18px;
    line-height: 25.2px;
}

.contact-btn a {
    width: 117px;
    height: 26px;
    color: #141414;
    font-family: 'Public Sans', sans-serif; 
    font-weight: 400;
    font-size: 18px;
    line-height: 25.2px;
}

.about-btn {
    max-width: 147px;
    max-height: 46px;
    border-radius: 4px;
    padding: 10px 15px 10px 15px;
    gap: 10px;
    background-color:  #D5D6D7;
    font-family: 'Public Sans', sans-serif; 
    font-weight: 400;
    font-size: 18px;
    line-height: 25.2px;
}

.about-btn a {
    width: 75px;
    height: 26px;
    font-family: 'Public Sans', sans-serif; 
    font-weight: 400;
    font-size: 18px;
    line-height: 25.2px;
    color: #141414;
}



/* NavBar */

.navbar {
    background-color: #F5F5F5;
    /* filter: saturate(10%); */
    /* overflow: hidden; */
    display: flex;
    align-items: center; 
    position: relative;
    height: 100px;
    width: 1440px;
}

.navbar .logo {
    width: 152.14px;
    height: 30px; 
    margin-top: 10px; 
    margin-left: 120px;
}

.navbar .ul {
    position: absolute;
    top: 27px;
    left: 661px;
    max-width: 659px; 
    max-height: 46px;   
    width: 100%;
    height: 100%;
    align-items: center;
    align-content: flex-start;
    gap: 64px;
}

.navbar .ul ul {
    list-style-type: none;
    gap: 20px;
    padding: 0;
    display: flex;
    align-content: center;
    align-items: center;
    margin: 0;
}

.navbar li {
    display: flex;
    align-items: center;
}

.navbar li a {
    height: 26;
    width: auto;
    display: block;
    color: #23395B;
    text-align: left; 
    padding: 14px 20px;
    text-decoration: none;
    border: none;
    cursor: pointer;
    font-family: 'Public Sans', sans-serif; 
    font-size: 18px; 
    font-weight: 600; 
    line-height: 25.2px;
}



/* HomePage */
.HomePage {
    width: 1440px;
    height: 4096px;
    background-color: #F5F5F5;
}

.HomePage .Hero {
    display: flex;
    justify-content: center;
    max-width: 1440px;
    max-height: 628px;
    top: 100px;
    padding: 100px 120px 100px 120px;
    /* padding-top: 100px;
    padding-right: 70px;
    padding-bottom: 100px; */
    /* margin: 100px 120px 100px 120px; */
    /* margin-left: 100px;
    margin-right: 100px; */
    gap: 96px;
    border-color: black;
    border-width: 1px;
    border-style: dashed;
}

.HomePage .Hero .text-btn {
    display: grid;
    width: 576px;
    max-height: 471px;
    gap: 32px;
}

.Hero .text-btn h1 {
    width: 576px;
    height: 189px;
    font-family: 'Bricolage Grotesque'; 
    font-size: 54px;
    font-weight: 600;
    line-height: 63px;
    text-align: left;
    color: #23395B;
}

.Hero .text-btn h4 {
    width: 576px;
    height: 118px;
    font-family: 'Public Sans', sans-serif;
    font-weight: 400;
    font-size: 28px;
    line-height: 39.2px;
    color: #23395B;
}

.Hero .text-btn .btn {
    display: flex;
    max-width: 284px;
    max-height: 46px;
    gap: 32px;
}



.Hero img {
    width: 528px;
    height: 428px;
    border-radius: 8px;
}

.HomePage hr {
    width: 1200px;
    top: 728px;
    margin-left: 120px;
    border: 2px solid #4BBEDB;
}


.HomePage .Numbers {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    max-height: 236px;
    top: 728px;
    padding: 32px 318px 32px 318px;
    padding-left: 120px;
    gap: 160px ;

    border-color: black;
    border-width: 1px;
    border-style: dashed;
}

.HomePage .Numbers .number {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 162px;
    height: 172px;
    gap: 5px;
    text-align: center;
}

.Numbers .number h1 {
    width: 120px;
    height: 63px;
    font-family: 'Bricolage Grotesque'; 
    font-size: 56px;
    font-weight: 600;
    line-height: 63px;
    color: #23395B;
}

.Numbers .number p{
    width: 162px;
    height: 51px;
    font-family: 'Public Sans';
    font-weight: 400;
    font-size: 18px;
    line-height: 25.2px;
    text-align: center;
    justify-content: center;
    color: #141414;
}

.HomePage .Wills {
    width: 1200px;
    height: 1320px;
    position: absolute;
    top: 1125px;
    margin-left: 120px;


    border-color: black;
    border-width: 1px;
    border-style: dashed;
}


.HomePage .Wills .box {
    width: 568px;
    border-radius: 8px;
    padding: 48px;
    gap: 32px;
    background-color: #FFFFFF;
    position: absolute;
}

.HomePage .Wills .box1 {
    max-height: 524px;
    top: 0px;
    left: 0px;
    box-shadow: 0px 4px 4px -4px #0C0C0D0D;
    box-shadow: 0px 16px 32px -4px #0C0C0D1A;
    z-index: 1;
}

.HomePage .Wills .box2 {
    max-height: 575px;
    top: 65px;
    left: 632px;
    box-shadow: 0px 4px 4px -4px #0C0C0D0D;
    box-shadow: 0px 16px 32px -4px #0C0C0D1A;
    z-index: 2;
}


.HomePage .Wills .pic {
    width: 125px;
    height: 125px;
    position: relative;
    /* top: 1585px; 
    left: 651px; */
    top: 460px;
    left: 531px;
    z-index: 3;
    background-color: transparent;
}

.box .group {
    width: 472px;
    height: 212px;

    border-color: gray;
    border-width: 1px;
    border-style: dashed;
}

.group label {
    width: 154.91px;
    height: 26px;
    position: relative;
    top: 0px;
    left: 0px;
    font-family: 'Public Sans', sans-serif;
    font-weight: 500;
    size: 18px;
    line-height: 25.2px;
    letter-spacing: 30%;
    color: #A13D63;
}

.group h2 {
    width: 472px;
    height: 162px;
    position: relative;
    top: 30px;
    left: 0px;
    font-family: 'Bricolage Grotesque'; 
    font-size: 48px;
    font-weight: 600;
    line-height: 52px;
    color: #23395B;
}


.box p {
    width: 472px;
    height: 126px;
    font-family: 'Public Sans', sans-serif;
    font-weight: 400;
    size: 18px;
    line-height: 25.2px;
    color: #141414;
}


#link-learn-more {
    width: 114px;
    height: 26px;
    cursor: pointer;
    font-family: 'Public Sans', sans-serif;
    text-decoration: underline;
    font-weight: 600;
    size: 18px;
    line-height: 25.2px;
    color: #23395B;
    ;
}

.box a {
    width: 114px;
    height: 26px;
    cursor: pointer;
    text-decoration: underline;
    font-family: 'Public Sans', sans-serif;
    font-weight: 600;
    size: 18px;
    line-height: 25.2px;
    color: #23395B;
}


.Wills .callout-box {
    max-width: 1200px;
    max-height: 585px;
    background-color: #23395B;
    border-radius: 8px;
    padding: 64px;
    gap: 64px;
    position: relative;
    top: 735px;
    left: 0px;
    display: flex;
}


.callout-box .text-btn {
    width: 480px;
    max-height: 457px;
    gap: 32px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    border-color: white;
    border-width: 1px;
    border-style: dashed;
}


.callout-box .text-btn .group {
    width: 480px;
    height: 212px;

    display: flex;
    flex-direction: column;
    justify-content:baseline;
    align-items: baseline;

    border-color: white;
    border-width: 1px;
    border-style: dashed;
    
}

.text-btn .group p {
    width: 335.79px;
    height: 26px;
    font-family: 'Public Sans', sans-serif;
    font-weight: 500;
    line-height: 25.2px;
    letter-spacing: 3%;
    color: #FFFFFF;

    border-color: white;
    border-width: 1px;
    border-style: dashed;
}

.text-btn .group h2 {
    width: 480px;
    height: 162px;
    position: relative;
    top: 50px;
    font-family: 'Bricolage Grotesque', sans-serif;
    font-weight: 600;
    font-size: 48px;
    line-height: 54px;
    color: #FFFFFF;


    border-color: white;
    border-width: 1px;
    border-style: dashed;
}

.text-btn .group h2, .text-btn .group p {
    margin: 0;
    padding: 0;
}

.text-btn p{
    width: 480px;
    height: 135px;
    font-family: 'Public Sans', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 33.6px;
    color: #FFFFFF;
}

.callout-box img {
    width: 528px;
    height: 427px;
    position: relative;
    top: 20px;
    left: 12px;
    border-radius: 8px;
}



























.container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    /* height: 100vh;  */
}
  
.content {
    text-align: center; 
    max-width: 700px; 
    padding: 60px;
}

.icon-layout {
    margin: 20px;
    width: 40px;
    height: 40px;
}

.content .form {
    display: flex;
}

.form .form-group {
    flex: 1;
    margin-bottom: 15px;
}

Form.ControlLabel {
    display: block;
    margin-bottom: 5px; 
  }

Form.Control {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


/* Button {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: 1px;
    border-width: 1px;
    border-color: black;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
}

Button:hover {
    background-color: #45a049;
}

Button[type='submit'] {
    width: 50%;
} */